.home_page {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
}

#background_logo {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	z-index: -5;
	height: 80vh;
}

.main_photo {
	position: absolute;
	bottom: 0;
	right: -100vw;
	height: 100vh;
	z-index: -1;
	transition: right 1.5s ease-out;
}

.main_photo.show {
	right: 0;
}

#name {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
	position: absolute;
	font-size: 96px;
	letter-spacing: .25em;
	top: calc(20vh);
	z-index: 10;
	transition: left 1.5s ease-out;
}

#lastname {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
	position: absolute;
	font-size: 96px;
	letter-spacing: .1em;
	top: calc(20vh + 120px);
	z-index: 10;
	transition: left 2s ease-out;
}

#mini_description {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
	position: absolute;
	font-size: 48px;
	top: calc(20vh + 300px);
	z-index: 10;
	transition: left 2.5s ease-out;
}

.hide_desc {
	left: -1000px;
}

.show_desc {
	left: 215px;
}

@media screen and (max-width: 858px) {
	.main_photo { 
		display: none;
	}

	#name {
		transform: translate(-50%, -50%);
		font-size: 15vw;
		top: calc(35vh - 20vw);
	}

	#lastname {
		transform: translate(-50%, -50%);
		font-size: 15vw;
		top: calc(35vh);
	}

	#mini_description {
		transform: translate(-50%, -50%);
		font-size: 5vw;
		top: calc(35vh + 30vw);
		width: 100vw;
		text-align: center;
	}

	.hide_desc {
		left: -100vw;
	}

	.show_desc {
		left: 50vw;
	}
}
